@import url('./_image/team__list_image.css');

.team__list {
  display: grid;
  margin: 0 auto;
  padding: 0;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  gap: 5px;
  list-style: none;
  text-align: center;
  width: 50%;
}