@import url('./__list/gallery__list.css');
@import url('./__heading/gallery__heading.css');

.gallery {
  max-width: 1280px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .gallery {
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  .gallery {
    max-width: 768px;
  }
}

@media screen and (max-width: 375px) {
  .gallery {
    max-width: 375px;
  }
}