.contact__message {
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 10px;
  font-family: 'Saira', sans-serif;
  border: none;
  border-radius: 5px;
  max-width: 80%;
  min-width: 80%;
  min-height: 150px;
  resize: none;
  outline: none;
  box-sizing: border-box;
  border: 2px solid #ac7de0;
}

.contact__message:focus {
  border: 2px solid #ac7de0;
}

@media screen and (max-width: 768px) {
  .contact__message {
    min-height: 120px;
    margin-bottom: 20px;
  }
}