.header__links {
  margin: auto 0;
  padding: 0;
  display: flex;
  list-style: none;
  width: 714px;
  justify-content: space-between;
  border-radius: 50px;
  padding: 10px 100px;
  background-color: rgb(243, 192, 171);
  align-self: center;
}

@media screen and (max-width: 1379px) {
  .header__links {
    padding: 20px;
    /* border: 1px solid red; */
    margin-right: 50px;
  }
}