@import url('./__list/offers__list.css');

.offers {
  max-width: 1280px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .offers {
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  .offers {
    max-width: 768px;
  }
}

@media screen and (max-width: 375px) {
  .offers {
    max-width: 375px;
  }
}