.header__logo {
  font-family: 'Cinzen', sans-serif;
  margin: 0 100px 0 0;
  padding: 0;
  display: block;
  font-weight: 300;
  font-size: 50px;
  line-height: 50px;
  justify-content: center;
  align-self: center;
  align-items: center;
  width: 450px;
}

@media screen and (max-width: 1379px) {
  .header__logo {
    margin-right: 50px;
  }
}