.header__logo {
  font-family: 'Cinzen', sans-serif;
  margin: 0 100px 0 0;
  padding: 0;
  display: block;
  font-weight: 300;
  font-size: 50px;
  line-height: 50px;
  justify-content: center;
  align-self: center;
  align-items: center;
  width: 450px;
  text-shadow: 2px 2px rgb(243, 192, 171);
}

@media screen and (max-width: 1379px) {
  .header__logo {
    margin-right: 50px;
  }
}

@media screen and (max-width: 1119px) {
  .header__logo {
    font-size: 40px;
  }
}

@media screen and (max-width: 700px) {
  .header__logo {
    width: 300px;
    text-align: center;
    font-size: 30px;
    margin: 0 auto;
  }
}