.header__logo {
  display: flex;
  margin-left: 50px;
}

@media screen and (max-width: 768px) {
  .header__logo {
    margin-left: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}

@media screen and (max-width: 375px) {
  .header__logo {
    padding-bottom: 5px;
  }
}