@import url('./__logo/header__logo.css');
@import url('./__logo/_link/header__logo_link.css');
@import url('./__logo/_image/header__logo_image.css');
@import url('./__logo/_text/header__logo_text.css');
@import url('./__logo/_text_primary_color/header__logo_text_primary_color.css');
@import url('./__content/header__content.css');
@import url('./__navbar/header__navbar.css');

.header {
  /* background-image: url('../../images/header_image.jpg'); */
  background-image: url('../../images/cover_home.png');
  /* background-image: url('../../images/header_pink.jpg'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: left;
  position: relative;
  height: 100vh;
  width: 100vw;
}