.header__logo_text {
  margin: 0;
  padding: 10px;
  margin-left: 10px;
  color: #fff;
  font-weight: 300px;
  line-height: 1.2;
  font-size: 35px;
  font-family: 'Cinzen', sans-serif;
}

@media screen and (max-width: 430px) {
  .header__logo_text {
    font-size: 25px;
  }
}

@media screen and (max-width: 375px) {
  .header__logo_text {
    font-size: 25px;
  }
}
