@import url('./-title/modal__image-title.css');

.modal__image {
  max-width: 75vw;
  max-height: 75vh;
}

@media screen and (max-width: 815px) {
  .modal__image {
    max-width: 75vw;
    max-height: 75vh;
  }
}

@media screen and (max-width: 320px) {
  .modal__image {
    max-width: 75vw;
    max-height: 75vh;
  }
}