.section__heading {
  padding-top: 40px;
  margin: 0;
  font-size: 40px;
  font-weight: 400;
  color: #333;
  border-bottom: 2px solid #f4a6e7;
  max-width: 60%;
  margin-bottom: 40px;
}

@media screen and (max-width: 430px) {
  .section__heading {
    font-size: 20px;
    font-weight: bold;
  }
}

@media screen and (max-width: 375px) {
  .section__heading {
    font-size: 20px;
    font-weight: bold;
  }
}
