@import url('./_heading/gallery__list_heading.css');

.gallery__list {
  list-style: none;
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 5px;
}

@media screen and (max-width: 430px) {
  .gallery__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 5px;
  }
}

@media screen and (max-width: 375px) {
  .gallery__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 5px;
  }
}
