.about__icons {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  padding-bottom: 40px;
}

@media screen and (max-width: 414px) {
  .about__icons {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
  }
}

@media screen and (max-width: 375px) {
  .about__icons {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
  }
}