.header__navbar_list_item {
  margin: 0 5px;
  padding: 3px 20px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500px;
}

@media screen and (max-width: 430px) {
  .header__navbar_list_item {
    font-size: 12px;
    padding: 3px 10px;
  }
}

@media screen and (max-width: 375px) {
  .header__navbar_list_item {
    font-size: 12px;
    padding: 3px 10px;
  }
}
