.header__content_heading {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  font-size: 55px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .header__content_heading {
    font-size: 55px;
    padding-top: 200px;
  }
}

@media screen and (max-width: 375px) {
  .header__content_heading {
    padding-top: 50px;
    font-size: 30px;
  }
}