@import url('./__slogan/intro__slogan.css');
@import url('./__text/intro__text.css');
@import url('./__link/intro__link.css');

.intro {
  background: url('../../images/home_page_balloons.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 80vh;
  position: relative;
  margin-bottom: 20px;
  box-sizing: border-box;
}

@media screen and (max-width: 1379px) {
  .intro {
    min-height: 80vh;
    width: 100%;
  }
}

@media screen and (max-width: 910px) {
  .intro {
    min-height: 80vh;
  }
}

@media screen and (max-width: 700px) {
  .intro {
    /* min-height: 250px; */
    min-height: 67vh;
  }
}