.contact__form_submit-button {
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: #ac7de0;
  font-family: 'Saira', sans-serif;
  font-size: 20px;
  color: #fff;
  width: 20%;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 20px;
  transition: opacity 0.2s linear;
}

.contact__form_submit-button:hover {
  cursor: pointer;
  opacity: 0.8;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .contact__form_submit-button {
    width: 50%;
  }
}