@import url('./_image/section__container_image.css');
@import url('./_description/section__container_description.css');
@import url('./_heading/section__container_heading.css');
@import url('./_text/section__container_text.css');

.section__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  background-color: #f4f2f5;
  margin-top: 20px;
}

@media screen and (max-width: 414px) {
  .section__container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
  }
}

@media screen and (max-width: 375px) {
  .section__container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
  }
}