@import url('./_list/header__navbar_list.css');
@import url('./_list_item/navbat__list_item.css');
@import url('./_list_item-button/header__navbar_list_item-button.css');

.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 768px) {
  .header__navbar {
    flex-direction: column;
  }
}

@media screen and (max-width: 375px) {
  .header__navbar {
    max-width: 375px;
  }
}