.footer__icon {
  width: 50px;
  object-fit: cover;
}

.footer__icon:hover {
  background-color: #ac7de0;
  border-radius: 50%;
}

@media screen and (max-width: 430px) {
  .footer__icon {
    width: 40px;
  }
}

@media screen and (max-width: 375px) {
  .footer__icon {
    width: 40px;
  }
}
