.gallery__heading {
  font-size: 60px;
  font-weight: 400;
  border: none;
  border-bottom: 3px solid #ac7de0;
}

@media screen and (max-width: 414px) {
  .gallery__heading {
    font-size: 30px;
  }
}

@media screen and (max-width: 375px) {
  .gallery__heading {
    font-size: 30px;
  }
}