@import url('./__heading/prices__heading.css');
@import url('./__elements/prices__elements.css');
@import url('./__image/prices__image.css');
@import url('./__text/prices__text.css');
@import url('./__text_2/prices__text_2.css');

.prices {
  margin-bottom: 20px;
  max-width: 1364px;
  margin: 0 auto;
  box-sizing: border-box;
  background: rgb(243, 240, 239);
  }