@import url('../vendor/normalize.css');
@import url('../vendor/fonts/fonts.css');
@import url('../blocks/page/page.css');

.header {
  height: 50px;
  display: flex;
  /* margin: 20px 0 20px 0; */
  padding: 20px 0 20px;
  /* border: 1px solid green; */
}

.header__logo {
  font-family: 'Cinzen', sans-serif;
  margin: 0 100px 0 0;
  padding: 0;
  display: block;
  font-weight: 300;
  font-size: 50px;
  line-height: 50px;
  justify-content: center;
  align-self: center;
  align-items: center;
  width: 450px;
}

.header__links {
  margin: auto 0;
  padding: 0;
  display: flex;
  list-style: none;
  width: 714px;
  justify-content: space-between;
  border-radius: 50px;
  padding: 10px 100px;
  background-color: rgb(243, 192, 171);
  align-self: center;
}

.header__link {
  text-decoration: none;
  color: black;
  font-family: 'Cinzen', sans-serif;
  font-weight: normal;
  font-size: 30px;
}

.header__link:hover {
  border-bottom: 2px solid green;
  font-weight: 500;
  
}

.header__link_active {
  border-bottom: 2px solid green;
}

.offers__image {
  width: 1364px;
}

.intro {
  background: url('../images/home_page_balloons.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1364px;
  height: 900px;
  position: relative;
}

.intro__slogan {
  font-family: 'Cinzen', sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
  font-size: 40px;
  max-width: 650px;
  height: 100px;
  position: absolute;
  text-align: center;
  display: block;
  top: 200px;
  left: 150px;
  text-shadow: 2px 2px rgb(243, 192, 171);
  padding-bottom: 20px;
}

.intro__text {
  font-family: 'Saira', sans-serif;
  margin: 0;
  padding-left: 0;
  letter-spacing: 0.55em;
  max-width: 600px;
  position: absolute;
  top: 350px;
  left: 200px;
  font-size: 20px;
}

.intro__link {
  font-family: 'Cinzen', sans-serif;
  text-decoration: none;
  color: black;
  margin: 0;
  padding-left: 0;
  font-weight: 500;
  font-size: 25px;
  position: absolute;
  top: 500px;
  left: 350px;
  transition: font-size 0.5s;
}

.intro__link:hover {
  font-size: 30px;
  border-bottom: 2px solid green;
}

.footer {
  background-color: rgb(243, 192, 171);
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.footer__copyright {
  font-family: "Cinzen", sans-serif;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  margin: auto;
  padding-bottom: 10px;
  padding-top: 10px;
}

.footer__icon {
  margin-right: 55px;
  margin-left: 40px;
  padding: 0;
  text-decoration: none;
}

.footer__icon:hover {
  border-bottom: 1px solid green;
}