@import url('./__icons/about__icons.css');
@import url('./__icon/about__icon.css');
@import url('./__heading/about__heading.css');

.about {
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .about {
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  .about {
    max-width: 768px;
  }
}

@media screen and (max-width: 375px) {
  .about {
    max-width: 375px;
  }
}