@import url('./__heading/contact__heading.css');
@import url('./__text/contact__text.css');
@import url('./__form/contact__form.css');
@import url('./__input/contact__input.css');

.contact {
  max-width: 1280px;
  margin: 0 auto;
  padding-bottom: 40px;
}