@import url('./__heading/contact__heading.css');
@import url('./__text/contact__text.css');
@import url('./__email/contact__email.css');

.contact {
  max-width: 1280px;
  margin: 0 auto;
  padding-bottom: 40px;
}

@media screen and (max-width: 1024px) {
  .contact {
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  .contact {
    max-width: 768px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 430px) {
  .contact__container_image {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  .contact {
    max-width: 375px;
  }
}
