.intro__link {
  font-family: 'Cinzen', sans-serif;
  text-decoration: none;
  color: black;
  margin: 0;
  padding-left: 0;
  font-weight: 500;
  font-size: 25px;
  position: absolute;
  top: 400px;
  left: 340px;
  transition: font-size 0.5s;
}

.intro__link:hover {
  font-size: 30px;
  border-bottom: 1px solid black;
}

@media screen and (max-width: 1379px) {
  .intro__link {
    left: 240px;
  }
}

@media screen and (max-width: 1119px) {
  .intro__link {
    left: 175px;
  }
}

@media screen and (max-width: 910px) {
  .intro__link {
    top: 500px;
    left: 270px;
    font-size: 20px;
  }

  .intro__link:hover {
    font-size: 22px;
  }
}

@media screen and (max-width: 700px) {
  .intro__link {
    top: 270px;
    font-size: 12px;
    left: 130px;
  }
}