@import url('./__container/section__container.css');
@import url('./__heading/section__heading.css');
@import url('./__text/section__text.css');
@import url('./__list/section__list.css');
@import url('./__team_heading/section__team_heading.css');

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}