.about__heading {
  font-family: 'Cinzen', sans-serif;
  font-weight: 300;
  margin: 0;
  padding-top: 0;
  font-size: 40px;
  margin-top: 200px;
  margin-left: 100px;
  width: 205px;
  line-height: 40px;
  padding-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .about__heading {
    margin-left: 50px;
    margin-top: 50px;
  }
}